/Debug/
BUILD/
*.yml
*.pyc
.vs/
NTPClient/.hg/
/argosLinker/IoTLink/IoTLink.cpp.bak
/argosLinker/IoTLink/IoTLink.h.bak
/main.cpp.bak
/Camera/Camera_Seeker.cpp.bak
/argosLinker/JsonProtocol/JsonProtocol.cpp.bak
/System/dongle_system.cpp.bak
*.bak
.vscode/settings.json
